@media (prefers-reduced-motion: no-preference) {
  .gearOne {
    animation: spinCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 86.46% 12.4%;
    animation-delay: 0s;
  }
  .gearTwo {
    animation: spinCCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 11.7191% 58.4447%;
    animation-delay: 0.25s;
  }
  .gearThree {
    animation: spinCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 83.5206% 75.9731%;
    animation-delay: 0.125s;
  }
  .scheduleYellow {
    fill: #82B3DF;
    animation: toYellow 0.25s ease-in-out forwards;
    animation-delay: 1s
  }
  .schedulePurple {
    fill: #82B3DF;
    animation: toPurple 0.25s ease-in-out forwards;
    animation-delay: 0.5s
  }

  .tealNet {
    transform: translateX(-50%);
    animation: slideRight 0.5s cubic-bezier(.22,.78,.37,1.2) forwards;
    animation-delay: 2s;
  }
  .blueNet {
    animation: driftRight 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 2.25s;
  }

  .bob1 {
    animation: bob 0.5s forwards;
    animation-delay: 0.5s;
    animation-iteration-count: 5;
  }
  .bob2 {
    animation: bob 0.5s forwards;
    animation-delay: 0.65s;
    animation-iteration-count: 5;
  }
  .bob3 {
    animation: bob 0.5s forwards;
    animation-delay: 0.8s;
    animation-iteration-count: 5;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-50%);
  } 100% {
    transform: translatex(0);
  }
}

@keyframes toYellow {
  0% {
    fill: #82B3DF;
  } 100% {
    fill: #FFBF60;
  }
}

@keyframes toPurple {
  0% {
    fill: #82B3DF;
  } 100% {
    fill: #9582DF;
  }
}

@keyframes spinCW {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(2turn);
  }
}

@keyframes spinCCW {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(-2turn);
  }
}

@keyframes driftRight {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bob {
  25% { transform: translateY(-1.5%); }
  75% { transform: translateY(1.5%); }
}