@media (prefers-reduced-motion: no-preference) {
  .arcWallWhite {
    opacity: 20%;
    fill: white;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1s;
  }
  .arcWallBlue {
    opacity: 20%;
    fill: #3684C9;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.1s;
  }
  .arcWallGreen {
    opacity: 20%;
    fill: #82DFB2;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.2s;
  }
  .arcWallYellow {
    opacity: 20%;
    fill: #FFBF60;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.3s;
  }
  .arcWallTeal {
    opacity: 20%;
    fill: #43BFDA;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.4s;
  }
  .arcWallRed {
    opacity: 20%;
    fill: #DD4C80;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.5s;
  }
  .arcWallBlack {
    opacity: 20%;
    fill: black;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.6s;
  }

  .metricsLine {
    animation: wipe-in 4s ease-in-out forwards;
  }

  .scrub {
    animation: translate-right 3s linear forwards;
  }
  .arcBar {
    opacity: 0;
    animation: jump-in 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 4s;
  }
  .checkOne {
    opacity: 0;
    animation: jump-in 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1s;
  }
  .checkTwo {
    opacity: 0;
    animation: jump-in 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 2s;
  }
  .checkThree {
    opacity: 0;
    animation: jump-in 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 3s;
  }

  .alert {
    transform: scale(0);
    transform-origin: center;
    animation: alertAnimation 0.4s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1s;
  }
  .alertGrey {
    animation: driftLeft 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.3s;
  }
  .alertSummerBlue {
    animation: driftLeft 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.2s;
  }
  .alertWhite {
    animation: driftRight 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.1s;
  }
  .alertBlack {
    animation: driftRight 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.2s;
  }
  .alertPink {
    animation: driftRight 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.35s;
  }
  .alertGreen {
    animation: driftRight 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.125s;
  }
  .alertBrilliantBlue {
    animation: driftLeft 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.1s;
  }
  .alertFloridaOrange {
    animation: driftRight 0.5s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.15s;
  }

  .gearOne {
    animation: spinCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 86.46% 12.4%;
    animation-delay: 0s;
  }
  .gearTwo {
    animation: spinCCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 11.7191% 58.4447%;
    animation-delay: 0.25s;
  }
  .gearThree {
    animation: spinCW 1.5s cubic-bezier(0.2,-0.1,0.9,1.2);
    transform-origin: 83.5206% 75.9731%;
    animation-delay: 0.125s;
  }
  .scheduleYellow {
    fill: #82B3DF;
    animation: toYellow 0.25s ease-in-out forwards;
    animation-delay: 1s
  }
  .schedulePurple {
    fill: #82B3DF;
    animation: toPurple 0.25s ease-in-out forwards;
    animation-delay: 0.5s
  }

  .tealNet {
    transform: translateX(-50%);
    animation: slideRight 0.5s cubic-bezier(.22,.78,.37,1.2) forwards;
    animation-delay: 1s;
  }
  .blueNet {
    animation: driftRight 0.25s cubic-bezier(.42,.42,.59,1.51) forwards;
    animation-delay: 1.25s;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-50%);
  } 100% {
    transform: translatex(0);
  }
}

@keyframes toYellow {
  0% {
    fill: #82B3DF;
  } 100% {
    fill: #FFBF60;
  }
}

@keyframes toPurple {
  0% {
    fill: #82B3DF;
  } 100% {
    fill: #9582DF;
  }
}

@keyframes spinCW {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(2turn);
  }
}

@keyframes spinCCW {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(-2turn);
  }
}

@keyframes alertAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes driftLeft {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes driftRight {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes jump-in {
  from {
    opacity: 0%;
    transform: translateY(10%);
  } to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 20%;
  } to {
    opacity: 100%;
  }
}

@keyframes wipe-in {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@keyframes translate-right {
  from {
    transform: 0;
  } to {
    transform: translateX(400px);
  }
}