@media (prefers-reduced-motion: no-preference) {
  .arcWallWhite {
    opacity: 20%;
    fill: white;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1s;
  }

  .arcWallBlue {
    opacity: 20%;
    fill: #3684C9;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.1s;
  }

  .arcWallGreen {
    opacity: 20%;
    fill: #82DFB2;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.2s;
  }

  .arcWallYellow {
    opacity: 20%;
    fill: #FFBF60;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.3s;
  }

  .arcWallTeal {
    opacity: 20%;
    fill: #43BFDA;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.4s;
  }

  .arcWallRed {
    opacity: 20%;
    fill: #DD4C80;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.5s;
  }

  .arcWallBlack {
    opacity: 20%;
    fill: black;
    animation: fade-in 0.25s ease-in-out forwards;
    animation-delay: 1.6s;
  }

  .metricsLine {
    animation: wipe-in 4s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 20%;
  } to {
    opacity: 100%;
  }
}

@keyframes wipe-in {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}