.row1 {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.tab_container {
  background-color: white;
  border: 1px #f0f0f0 solid;
  padding-bottom: 20px;
}

.pane {
  max-width: 1200px;
  margin: auto;
}