.content {
    font-family: 'Outfit';
    padding-left: 20px;
    padding-right: 20px;
}

.subheads {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.subtitles {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.subtitles2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 25px;
}

.blueStuff {
    color: #3684C9;
}

.profileImg {
    width: 180px; /* width of container */
    height: 180px; /* height of container */
    object-fit: cover;
    border: 5px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileData {
    text-align: center;
}

.profileData1 {
    text-align: center;
    margin-bottom: -20px;
    margin-top: 10px;
}

.overallPpl {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    left: calc(50% - 200px/2 + 0.5px);
}

.overallPpl1 {
    text-align: center;
}

@media only screen and (min-width: 400px) and (max-width: 440px) {
    .profileImg {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 5px;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 342px) and (max-width: 400px) {
    .profileImg {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 5px;
        border-radius: 4px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .profileData {
        font-size: smaller;
        padding-top: 3px;
    }

    .profileData1 {
        font-size: smaller;
    }
}

@media only screen and (min-width: 1025px) {
    .content {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media only screen and (min-width: 1650px) {
    .content {
        padding-left: 30%;
        padding-right: 30%;
    }
}
