@media only screen and (min-width: 769px) {
    #overall {
        padding-left: 40px;
        padding-right: 40px;
    }

    #section1,
    #section2,
    #section3,
    #section4,
    #section5 {
        display: block;
        width: 100%;
        overflow: hidden;
        padding-bottom: 80px;
    }

    #section1 {
        padding-bottom: 0px;
    }

    .left {
        display: inline-block;
        /* padding-right: 5px; */
        float: left;
        width: 49%;
        /* padding-left: -20px; */
        /* transform: translate(-20px, 0); */
    }

    .right {
        display: inline-block;
        /* padding-left: 5px; */
        width: 49%;
        float: right;
        /* padding-right: -20px; */
        /* transform: translate(20px, 0); */
    }

    .safetyRe {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;

        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sec1Content {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        /* left: 50%;
        top: 50%; */
        /* transform: translate(-50%, -50%); */

        color: #000000;

    }

    #section1 .insideContent {
        transform: translate(0%, 50%);
    }

    .img1 {
        display: block;
        width: 334px;
        height: 334px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    .insideContent {
        /* left: 25%;
        top: 25%; */
        transform: translate(0%, 25%);
    }

    .h2s {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;

        color: #000000;

        /* text-align: center; */
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .img2 {
        width: 100%;
        height: 112px;
        object-fit: contain;
        display: block;
        transform: translate(0%, 25%);
    }

    .img3 {
        transform: translate(0%, 15%);
        width: 100%;
        height: 137px;
        object-fit: contain;
        display: block;

    }

    .img4 {
        width: 50%;
        height: 114px;
        object-fit: contain;
        display: block;
        transform: translate(50%, 35%);
    }

    .img5 {
        width: 100%;
        height: 280px;
        object-fit: contain;
        display: block;
        transform: translate(0%, 0%);
    }

    /* .right>.insideContent {
        padding-left: 10px;
    }

    .right>img {
        padding-left: 10px;
    }

    .left>.insideContent {
        padding-right: 10px;
    }

    .left>img {
        padding-right: 10px;
    } */

    #getStart {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        padding: 15px 24px;
        gap: 4px;

        background: #3684C9;
        border-color: #3684C9;
        border-radius: 4px;

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1249px) {
    #overall {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* @media only screen and (min-width: 1250px) {
    #overall {
        padding-left: 267px;
        padding-right: 267px;
    }
} */

@media only screen and (min-width: 1250px) {
    #overall {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (min-width: 1441px) {
    #overall {
        padding-left: 30%;
        padding-right: 30%;
    }
}

#getStart:hover {
    background-color: #1D5DA7;
    border-radius: 10px;
    font-size: 20px;
}

#section6 {
    display: block;
    width: 100%;
    height: 390px;
    background: #1D5DA7;
}

.h3s {
    width: 352px;
    height: 90px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: auto;

    padding-top: 103px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    /* Just White (FFFFFF) */

    color: #FFFFFF;
}

#getStartWhite {
    display: block;
    width: 169px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 4px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #1D5DA7;
}

#getStartWhite:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 24px;
    /* color: #FFFFFF; */
}