@media only screen and (min-width: 769px) {
    #overall {
        padding-left: 40px;
        padding-right: 40px;
    }

    #section1,
    #section2,
    #section3,
    #section4,
    #section5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
        padding-bottom: 80px;
    }

    #section1 {
        padding-bottom: 0px;
    }

    .left {
        width: 49%;
        order: 1;
    }

    .right {
        width: 49%;
        order: 2;
    }

    .safetyRe {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;

        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sec1Content {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        color: #000000;

    }

    .img1 {
        display: block;
        width: 334px;
        height: 334px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    .h2s {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;

        color: #000000;

        margin-top: 0px;
        margin-bottom: 0px;
    }

    .img2 {
        width: 100%;
        height: 112px;
        object-fit: contain;
        display: block;
    }

    .img3 {
        width: 100%;
        height: 137px;
        object-fit: contain;
        display: block;

    }

    .img4 {
        width: 50%;
        height: 114px;
        object-fit: contain;
        display: block;
    }

    .img5 {
        width: 100%;
        height: 280px;
        object-fit: contain;
        display: block;
    }

    #getStart {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        padding: 15px 24px;
        gap: 4px;

        background: #3684C9;
        border-color: #3684C9;
        border-radius: 4px;

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1249px) {
    #overall {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1250px) {
    #overall {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (min-width: 1650px) {
    #overall {
        padding-left: 30%;
        padding-right: 30%;
    }
}

#getStart:hover {
    background-color: #1D5DA7;
    border-radius: 10px;
    font-size: 20px;
}

#section6 {
    display: block;
    width: 100%;
    height: 390px;
    background: #1D5DA7;
}

.h3s {
    width: 352px;
    height: 90px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: auto;

    padding-top: 103px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    /* Just White (FFFFFF) */
    color: #FFFFFF;
}

#getStartWhite {
    display: block;
    width: 169px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 4px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #1D5DA7;
}

#getStartWhite:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 24px;
}

.otherContent {
    margin-bottom: 0px;
}