.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center {
  margin: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 18px;
}

.subtext {
  font-size: 14px;
}

.horizontal {
  height: 1px;
  background-color: #808080;
  width: 100%;
}