.agentsPage {
    font-family: 'Outfit';
}

.threeTable {
    margin: 1.2em;
}

.threeTable th {
    color: #3684c9;
    border: none;
}

.searchAgents {
    border-radius: 30px;
    border: 1.5px solid #3684c9;
    width: 300px;
    background-image: url(../images/searchIcon.svg);
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-clip: content-box;
    
}

#add-agent-button {
    background-color: #3684c9;
    margin-left: 85%;
}

img {
    margin-right: 7px;
}