.agentsPage {
    font-family: 'Outfit';
}

.title {
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 21px;
}

.threeTable {
    margin: 1.2em;
    margin-bottom: 2.5em;
}

.threeTable th {
    color: #3684C9;
    border: none;
    text-align: left;
}

.table {
    border-collapse: collapse; 
}

.record {
    padding: 0 15px 0 0;
}

.row {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.searchBar {
    border-radius: 8px;
    border: 1.5px solid #3684C9;
    width: 40%;
    margin-right: 10px;
    padding: 6px;
}

.linkStyle {
    color: #3684C9;
    margin-left: 65%;
}

.primaryButton {
    background-color: #3684C9 !important;
}

.secondaryButton {
    background-color: white !important;
    outline: #3684C9 !important;
    color: #3684C9 !important;
}

.addAgentButton {
    border-radius: 50px !important;
    margin-left: 80%;
    margin-bottom: 10px;
    font-size: 18px !important;
    padding: 12px !important;
}

.leftPad {
    margin-left: 20px;
}

.align-right {
    display: flex !important;
    justify-content: right !important;
  }

.sectionScroll {
    padding: 20px;
    overflow-y: scroll;
}

img {
    margin-right: 7px;
}

.addIcon {
    margin-right: 0px;
    margin-bottom: 2px;
    width: 25px;
    height: auto;
}

.formTitle {
    font-family: 'Outfit';
    font-weight: 700;
}

.formLabel {
    font-family: 'Lato';
}

.formInput {
    padding: 5px 5px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 400px;
    margin-bottom: 12px;
}

.searchButton {
    margin-left: 50px;
    margin-right: 50px;
    height: 10px;
}