.agentName {
    color: #000000;
    font-weight: bold;
    font-family: 'Lato';
}

.details {
    font-family: 'Lato';
    line-height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    margin-top: 20px;
}

.leftPad {
    margin-left: 20px;
}
.rightPad {
    margin-right: 25px;
}

.tabRight {
    padding-right: 1rem;
}

@media screen and (min-width: 769px) {
    .big {
        font-size: 30px;
    }

    .giant {
        font-size: 32px;
    }

    .normal {
        font-size: 20px;
    }

    .small {
        font-size: 18px;
    }

    .icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 768px) {
    .big {
        font-size: 20px;
    }

    .giant {
        font-size: 28px;
    }

    .normal {
        font-size: 16px;
    }

    .small {
        font-size: 14px;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}

.h1 {
    font-family: 'Outfit';
}