.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.miniRow {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.flexGap {
  flex-grow: 1;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}