.planTitle {
  color: #1D5DA7;
  font-weight: bold;
  font-family: 'Outfit';
}

.planDetails {
  font-family: 'Outfit';
}

.row {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  gap: 8px;
  margin-top: 20px;
}

.calculation {
  display: flex;
  flex-direction: column;
}

.bold {
  font-size: 32px;
  font-family: 'Outfit';
  font-weight: bold;
  vertical-align: text-top;
  transform: translateY(5px);
}

.copy {
  font-size: 20px;
  font-family: 'Outfit';
  vertical-align: middle;
}

.horizontal {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0px 0px 0px;
  padding: 0;
}

.a {
  font-size: 16px;
  color: #3684c9;
  font-family: 'Outfit';
  margin-left: auto;
  margin-right: 0px;
}

.leftPad {
  margin-left: 20px;
}

@media screen and (min-width: 769px) {
  .big {
    font-size: 24px;
  }

  .giant {
    font-size: 32px;
  }

  .normal {
    font-size: 20px;
  }

  .small {
    font-size: 16px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .big {
    font-size: 20px;
  }

  .giant {
    font-size: 28px;
  }

  .normal {
    font-size: 16px;
  }

  .small {
    font-size: 14px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

.h1 {
  font-family: 'Outfit';
}