/*
  This file has styling related to the general portal layout, shared across the
  various pages.
*/

.main {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Outfit';
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .portal {
    display: flex;
    flex-direction: row;
  }

  .nav {
    order: 1;
  }

  .main {
    order: 2;
  }

  .row {
    flex-direction: row;
  }

  .mainPad {
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 74px);
  }
}

@media screen and (max-width: 768px) {
  .portal {
    display: flex;
    flex-direction: column;
  }

  .nav {
    order: 2;
    position: absolute;
    bottom: 0px;
  }

  .main {
    order: 1;
  }

  .row {
    flex-direction: column;
  }

  .mainPad {
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 74px - 66px);
  }
}