.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backArrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.sectionTitle {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.sectionSub {
  font-size: 16px;
  font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
}

.iconLine {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .row {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}