.carousel {
  overflow:  hidden;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  align-items: center;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.pips {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.active_pip {
  background-color: #707070;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0px 2px;
}

.inactive_pip {
  background-color: #D9D9D9;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0px 2px;
}

.arrow_left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.arrow_right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 1;
}