@media screen and (min-width: 481px) {
    ul li {
        display: inline-block;
    }
}

@media screen and (min-width: 320px) {
    .overallFooter {
        height: 440px;
    }
}

@media screen and (min-width: 481px) {
    .overallFooter {
        height: 294px;
    }
}

@media screen and (min-width: 769px) {
    .overallFooter {
        height: 265px;
    }
}

