.portalNav {
  background-color: white;
  border-right: 1px #c0c0c0 solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: min-content;
}

.label {
  padding: 20px 40px;
}

.active {
  background-color: blue;
}

.inactive {
  background-color: white;
}