.portalNav {
  background-color: white;
  border-right: 1px #c0c0c0 solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: min-content;
}

.label {
  padding: 20px 40px;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
  font-family: 'Outfit';
  font-weight: 400;
}

.active {
  background-color: #3684c9;
  color: white;
}

.inactive {
  background-color: white;
}