.App {
  text-align: center;
  min-height: 100vh;
}

body,
html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 481px) {
  ul li {
    display: inline-block;
  }
}

@media screen and (min-width: 320px) {
  .navbar {
    height: 62px;
  }

  a {
    color: #fff;
  }
}

@media screen and (min-width: 640px) {
  a {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 80px;
  }
  
  a {
    color: #000;
  }
}

@media screen and (min-width: 1025px) {
  .navbar {
    height: 80px;
  }
  
  a {
    color: #000;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    height: 80px;
  }

  a {
    color: #000;
  }
}

.navbar {
  position: sticky;
  top: 0; 
  width: 100%;
  background-color:#E0F0FF;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(4px 2px 4px grey);
  margin-bottom:30px;
}

.title {
  color: #3684C9;
  font-family: Outfit;
  font-weight: bold;
  margin-right: 2rem;
  margin-top: 0.5rem;
  white-space: nowrap;
}

#headerLogo {
  width: 30.75px;
  height: 30px;
  margin-right: 1rem;
}

.offcanvas {
  width: 100%;
  background-color: #3684C9;
}

a {
  font-family: Lato;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
  text-align: center;
  display: inline-block;
}

a:hover {
  color: #1D5DA7;
}

a.active {
  font-weight: bold;
}

a.inactive {
  text-decoration: none;
}

.offcanvas {
  width: 100%;
  background-color: #3684C9;
}

/* @media screen and (min-width: 481px) {
  ul li {
      display: inline-block;
  }
}

@media screen and (min-width: 320px) {
  .overallHeader {
      height: 62px;
  }
  .nav {
      display: none;   
  }
  .getStarted {
      display: none;
  }
  .dropdown {
      display: block;
  }
}

@media screen and (min-width: 640px) {
  .overallHeader {
      height: 80px;
  }
  .nav {
      display: block;   
  }
  .getStarted {
      display: block;
  }
  .dropdown {
      display: none;
  }
}

@media screen and (min-width: 1025px) {
  .overallHeader {
      height: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .overallHeader {
      height: 80px;
  }
} */